.button-style {
  font-size: 16px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-weight: bold;
  padding: 1em 2em;
  border: 3px solid var(--color-1);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--color-1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;

  &:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--color-1);
    z-index: -1;
  }

  &:hover,
  button:focus {
    color: white;
  }

  &:hover:before,
  button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
}

.button-style-2 {
  padding: 17px 40px;
  display: inline-block;
  width: fit-content;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-image: linear-gradient(90deg, var(--color-2), var(--clr));
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;

  &:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }

  &::active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
}
